<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E-Commerce_Framework">
	<test name ="E-Commerce Test">
	<parameter name ="browser" value="chrome"/>
	<classes>
	
	
	<class name="com.ecomm.tests.LoginPageTest"/> 
	
	<class name="com.ecomm.tests.HomePageTests"/>
	
	<class name="com.ecomm.tests.MyAddressPageTest"/>
	
	
	</classes>
		</test>
</suite>